/*  ==========================================================================
    Variables
    ========================================================================== */

    /*  Grid
        ========================================================================== */
        $totalColumns   : 12;
        $columnWidth    : 60px;
        $gutterWidth    : 20px;
        $gridWidth      : 940px;
        $breakpoint     : 768px;

    /*  Colors
        ========================================================================== */
        $white: #FFFFFF;
        $red: #ff4136;
        $grayF: #F5F5F5;
        $gray2: #222222;
        $gray3: #333333;
        $grayC: #999999;
        $gray6: #666666;
        $blue: #1774CC;
        $blue-dark: #202A2E;
        $green: #02B247;
        $green-dark: #01722E;
        $yellow: #E99A3E;
        $yellow-dark: #775317;
        $navbar-color: #222222;
