/*  ==========================================================================
    Buttons
    ========================================================================== */

    .btn {
		background-color: #ff4136;
	    background-repeat: repeat-x;
	    border-radius: 5px;
	    color: #FFFFFF;
	    cursor: pointer;
	    display: inline-block;
	    font-size: 18px;
	    padding: 14px 28px;
	    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
    	text-transform: uppercase;
	}



	a.btn:hover {
		background-color:#7F201B;
		text-decoration:none;
	}
	a.btn:active {
		position:relative;
		top:1px;
	}

	.small {
		padding: 14px 18px;
        margin-top: 20px;
		font-size: 14px;
		width: 380px;
		text-align: center;
		background-color: $yellow;
	}

    a.small:hover {
        background-color: $yellow-dark;
    }
