/*  ==========================================================================
    Layout
    ========================================================================== */


    /* MOBILE */

    @media only screen {

        body {
            background: $white;
        }


        .hideme {
            opacity: 0;
        }

        .hero {
            background: url(../img/hero-image.jpg) top center no-repeat;
            background-size: cover;
            height: 480px;
            max-height: 480px;
            min-height: 183px;
            overflow: hidden;
            position: relative;
            width: 100%;
            margin-bottom: 20px;
        }

        .tagline {
            text-align: center;
            padding: 50px 0 0;
            margin-top: 50px;
        }

        .solutions,
        .technology,
        .partnership,
        .about,
        .contact {
            padding: 50px 10px;
            height: 100%;
        }

        .demonstracao {
            padding: 20px 0;
        }

        .demonstracao .row {
            border-top: 1px solid #ccc;
        }

        .partnership {
            background: $blue-dark;
        }

        .contact {
            text-align: left;
        }

        .footer {
            background: $gray3;
        }

        /* Thumbs */

        .thumb {
            text-align: center;
        }

        .thumb img {
            width: auto;
            margin: 0 auto;
        }

    }


    /* DESKTOP e TABLET */

    @media only screen and (min-width: $breakpoint) {
       
    }
